.product
  .product-img
  .product-meta
    a.product-back(href="#") GO BACK
    h2.product-title UniCone 2700K
    p.product-intro Nye UniCone 2700K er en liten og kompakt LED-downlight med meget smal kant og dypt inntrukket lyskilde. Integrert 8W LED med PrismaCOB linseteknologi.
    p.product-desc Liten og kompakt LED-downlight med meget smal kant og dypt inntrukket lyskilde. Integrert LED 8W 450mA med PrismaCOB linseteknologi. Ra>95. 580 lumen. Strålevinkel: 40°. Dimbar 0-100%. Levetid 50.000 timer L70. Klasse II, IP44.
    
    ul.product-thumbs
      li.product-thumb
      li.product-thumb

    .product-btns
      a.btn.btn_dark.product-btn ADD TO FAVOURITES
      a.btn.btn_fav.product-btn YOUR FAVOURITES LIST