.slider {
  height: 100vh;
  position: relative;
  width: 100%;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-slide {
  background-image: url(../img/top-slider.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  //background-position: 50% 50%;
}

.slider-arrow {
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 75px;
  height: 75px;
  bottom: 0;
  z-index: 9;

  &.slider-arrow_right {
    right: 0;
    background-image: url(../img/arrow-right.png)
  }
  &.slider-arrow_left {
    left: 0;
    background-image: url(../img/arrow-left.png)
  }
}

.subtitle {
  height: 350px;
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  font-weight: 100;
  margin: 0;
  line-height: 50px;
  padding: 70px 0 0;
  font-size: 34px;
}