$breakpoints: (
  'mobile':  ( min-width:  320px ),
  'smallestonly' : (max-width: 420px),
  'mobileonly' : (max-width: 979px),
  //'tablet': ( min-width:  480px ),
  'desktop':  ( min-width: 980px ),
  'desktop-large': (min-width: 1200px ),
  'with-social' : (min-width: 1276px)
) !default;

$color-text: #231f20;
$color-bg-light: #eaebeb;
$color-bg-dark: #c1c1c1;