doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title UNILAMP - Wireframe
  meta(name="description" content="")
  link(rel="stylesheet" href="css/styles.css")
  //link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet")

  link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
  link(rel="manifest" href="/manifest.json")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="theme-color" content="#ffffff")
body
  header(class="header")
    a.logo(href="#")
    a.menu-trigger.menu-open(href="#")
        
  nav.menu
    a.menu-close(href="#")
    .menu-btns
      a.btn.menu-btn.menu-btn_active(href="#") INSPIRATION
      a.btn.menu-btn(href="#") PRODUCTS
      a.btn.menu-btn(href="#") INFORMATION
      a.btn.menu-btn.menu-btn_align-right(href="#") CONTACT US
    .menu-nav
      .menu-nav-column.menu-nav-column_1
        a.menu-link.menu-link_kitchen Kitchen
        a.menu-link.menu-link_outdoors Outdoors
      .menu-nav-column.menu-nav-column_2
        a.menu-link.menu-link_bathroom
        a.menu-link.menu-link_other.menu-link_rotated
          span Other <br> rooms
      .menu-nav-column.menu-nav-column_3
        a.menu-link.menu-link_livingroom.menu-link_rotated 
          span Living <br> room
        a.menu-link.menu-link_bedroom.menu-link_rotated
          span Bed <br> room
        a.menu-link.menu-link_trade Trade <br> and housing 

  .pages-wrap
    block content

  footer.footer
    .footer-container
      .nav.footer-menu 
        h6.footer-title Quick Menu
        ul.footer-list
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") PRODUCTS
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") GET INSPIRED
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") ABOUT US
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") NEWS
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") INFORMATION
          li.footer-list-li
            a.footer-link.footer-link_bold(href="#") CONTACT US

      .nav.footer-menu
        h6.footer-title Products
        ul.footer-list.footer-list
          li.footer-list-li
            a.footer-link(href="#") LYSLIST AND SPOTSKINNE
          li.footer-list-li
            a.footer-link(href="#") HEADLIGHT, HEADLIGHTS, <br> SPOT AND UPLIGHT
          li.footer-list-li
            a.footer-link(href="#") DOWNLIGHT
          li.footer-list-li
            a.footer-link(href="#") CEILING AND WALL FITTING
          li.footer-list-li
            a.footer-link(href="#") CONTROL AND BALLAST
          li.footer-list-li
            a.footer-link(href="#") SPOTLIGHTS

      .nav.footer-menu
        h6.footer-title &nbsp;
        ul.footer-list.footer-list
          li.footer-list-li
            a.footer-link(href="#") ORIENTERINGSBELYSNING
          li.footer-list-li
            a.footer-link(href="#") LIGHT SOURCES
    
      .newsletter
        h6.footer-title Newsletter
        form.newsletter-form
          input.newsletter-input(type="text" placeholder="Type your email..." name="email")
          button.newsletter-submit +ADD

  //script(src="js/vendor.js")
  script(src="js/app.js")